#about {
  .about-header {
    text-align: center;
    padding: 30px 0 15px;
    h1 {
      margin-bottom: 15px;
    }
  }
  .about-main {
    text-align: center;
    .about-cards {
      @include flex();
      margin-bottom: 30px;
      .card {
        margin: 15px;
        width: calc(100% - 30px);
        h2 {
          position: relative;
          color: $titlesdark;
          margin-bottom: 30px;
          @include font-responsive(28px, 40px, 360px, 1440px);
          &:after {
            position: absolute;
            bottom: -15px;
            left: 50%;
            @include translate(-50%, 0);
            content: '';
            width: 50px;
            height: 1px;
            background-color: $primary;
          }
        }
      }
    }
  }
  .about-tl {
    position: relative;
    margin-top: 45px;
    &:after {
      position: absolute;
      z-index: 2;
      content: '';
      background-color: #555;
      width: 3px;
      height: calc(100% - 400px);
      top: 152px;
      left: 50%;
      @include translate(-50%, 0);
    }

    .about-tl-bg1,
    .about-tl-bg2 {
      position: absolute;
      z-index: 1;
      left: 0;
      width: 100%;
      height: 50%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .about-tl-bg1 {
      top: 28px;
      //background-image: url("../images/timeline/Construccion_Mundial_4.jpg");
    }
    .about-tl-bg2 {
      top: calc(50% + 28px);
      //background-image: url("../images/timeline/Construccion_Mundial_5.jpg");
    }
    .about-tl-bg3 {
      top: calc(50% + 28px);
      //background-image: url("../images/timeline/Construccion_Mundial_6.jpg");
    }
    .about-tl-header {
      position: relative;
      z-index: 3;
      padding: 25px 15px;
      background-color: $titlesdark;
      color: #fff;
      text-align: center;
      font-size: 38px;
    }
    .about-tl-events {
      @include make-container();
      @include make-container-max-widths();
      @include flex();
      flex-direction: column;
    }
    .about-tl-event {
      position: relative;
      z-index: 3;
      width: calc(45% - 30px);
      background-color: #940000;
      margin-top: -100px;
      -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16),
        0 2px 6px rgba(0, 0, 0, 0.23);
      -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16),
        0 2px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
      .about-tl-text {
        padding: 20px;
        * {
          color: #fff;
        }
        h6 {
          text-transform: uppercase;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
      &:after {
        position: absolute;
        background-color: #555;
        content: '';
        top: 10px;
        right: -85px;
        width: 85px;
        height: 3px;
      }
      &:before {
        position: absolute;
        top: -26px;
        right: -126px;
        content: '\2022';
        font-size: 50px;
        width: 50px;
        height: 50px;
        color: #555;
      }
      &:first-child {
        margin-top: 50px;
      }
      &:nth-child(odd) {
        margin-left: auto;
        &:after {
          right: initial;
          left: -85px;
        }
        &:before {
          right: initial;
          left: -95px;
        }
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  #about {
    .about-tl {
      .about-tl-event {
        &:after {
          right: -77px;
          width: 77px;
        }
        &:before {
          right: -117px;
        }
        &:nth-child(odd) {
          &:after {
            right: initial;
            left: -77px;
          }
          &:before {
            left: -86px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  #about {
    .about-header {
      padding-top: 50px;
    }
    .about-tl {
      .about-tl-event {
        &:after {
          right: -65px;
          width: 65px;
        }
        &:before {
          right: -105px;
        }
        &:nth-child(odd) {
          &:after {
            right: initial;
            left: -65px;
          }
          &:before {
            left: -74px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  #about {
    .about-main {
      .about-cards {
        margin-bottom: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    .about-tl {
      &:after {
        display: none;
      }
      .about-tl-events {
        justify-content: center;
        align-items: center;
      }
      .about-tl-event {
        width: 80%;
        margin-top: 30px;
        &:nth-child(odd) {
          margin-left: initial;
        }
        &:after,
        &:before {
          display: none;
        }
        &:first-child {
          margin-top: 30px;
        }
      }
    }
  }
}
.terms-container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 20px;
    text-transform:capitalize;
  }
  p {
    margin-bottom: 20px;
    img {
      margin-top: 10px;
    }
  }
}
