////////////
//  MAIN  //
///////////
// Text colors
.text-main {
	color: $primary !important;
}
.text-secondary {
	color: $info !important;
}
.text-white {
	color: #fff !important;
}
.check {
  color: green;
}
// Background colors
.bg-main {
	background-color: $primary !important;
}
.bg-secondary {
	background-color: $info !important;
}
.bg-dark {
	background-color: $titlesdark !important;
}
.backgrey {
	background-color: $backgrey !important;
}
.bg-white {
  background-color: #fff !important;
}
.secondary {
	background-color: $secondary !important;
}
////////////
// BRANDS //
///////////
// Brand text color
.text-btncolor {
	color: $btncolor !important;
}
.text-btncolor {
	color: $btncolor !important;
}
.text-btncolor {
	color: $btncolor !important;
}
.text-btncolor {
	color: $btncolor !important;
}
.text-btncolor {
	color: $btncolor !important;
}
.text-btncolor {
	color: $btncolor !important;
}
.text-btncolor {
	color: $btncolor !important;
}

// Brand backgrounds
.bg-btncolor {
	background-color: $btncolor !important;
}
.bg-btncolor {
	background-color: $btncolor !important;
}
.bg-btncolor {
	background-color: $btncolor !important;
}
.bg-btncolor, .bg-voltech {
	background-color: $btncolor !important;
}
.bg-btncolor {
	background-color: $btncolor !important;
	color: $btncolor !important;
}
.bg-btncolor {
	background-color: $btncolor !important;
}
.bg-btncolor {
	background-color: $btncolor !important;
}
