// Main Colors
$primary: #15ADC7;//indigo
$secondary: #424242;//gris oscuro
$accent: #82B1FF;//azul claro
$error: #FF5252;//rojo
$info: #2196F3;//azul
$success: #4CAF50;//verde
$warning: #FFC107;//amarillo
$btncolor: #15ADC7;//btncolor

$headforms: #D2EDF2;//azul head/forms/modal
$titlesdark: #054278;//titles 
$titleslight: #15ADC7;//lights titles
$backgrey: #F8F8F8;//bg color
$ntitlesdark: #012362;//new titles 
